/*!
 * Mastertech - Heroic Features
 * Insira seu código entre os comentários localizados no fim desta pagina ou/e
 * Edite o código do layout original
 */


/* Edite o código abaixo para mudar as opções do layout original */

body {
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.card {
    height: 100%;
}

.margem {
	margin-bottom: 0px; 
}

.estilo-titulo{
	font-style: "Times New Roman";
	font-size: 54;

}

.entry:not(:first-of-type)
{
    margin-top: 10px;
}

.glyphicon
{
    font-size: 12px;
}

.img-responsive {
  display: inline-block;
}
/* Inicio do meu CSS */


/* Fim do meu CSS */
