/*!
 * Mastertech - Heroic Features
 * Insira seu código entre os comentários localizados no fim desta pagina ou/e
 * Edite o código do layout original
 */


/* Edite o código abaixo para mudar as opções do layout original */

body {
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.card {
    height: 100%;
}

.margem {
	margin-bottom: 0px; 
}

.estilo-titulo{
	font-style: "Times New Roman";
	font-size: 54;

}

.entry:not(:first-of-type)
{
    margin-top: 10px;
}

.glyphicon
{
    font-size: 12px;
}

.img-responsive {
  display: inline-block;
}
/* Inicio do meu CSS */

.tamanhodelta {
    width: 75px;
    margin-right: 100px;
}

.delta {
    color: white;
}

.sobre {
    font-size: 24px;
}
.educateen {
    width: 150px;
}
.consa {
    margin-top: 65px;
    margin-bottom: 77px;
}

.mack { 
    margin-bottom: 45px;
 }

 .mobile {
    width: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
 }

.santo {
margin-top: 30px;
margin-bottom: 60px;
}

.pueri {
    margin-top: 50px; 
    margin-bottom: 45px;
    width: 250px;
}

.augusto {
    margin-top: 80px;
    margin-bottom: 85px;
}

.lectus {
    margin-top: 60px;
    margin-bottom: 70px;
}

.italo {
    margin-top: 50px;
    margin-bottom: 40px;
    margin-left: 20px;
}

.dante {
    margin-top: 45px;
    margin-left: 5px;
    margin-bottom: 55px;
}

.liceu {
    margin-top: 50px;
    width: 150px;
    margin-bottom: 60px;
}

.porto {
    width: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.consa2 {
    width: 300px;
}

.mackenzie2 {
    width: 300px;
}

.mobile3 {
    width: 250px;
}

.santo2 {
    width: 313px;
}
/* Fim do meu CSS */
